@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #1a1a1a;
  --foreground: #f5f5f5;

  --card: #1a1a1a;
  --card-foreground: #f5f5f5;

  --popover: #1a1a1a;
  --popover-foreground: #f5f5f5;

  --primary: #f5f5f5;
  --primary-foreground: #171717;

  --secondary: #333333;
  --secondary-foreground: #f5f5f5;

  --muted: #333333;
  --muted-foreground: #a3a3a3;

  --accent: #333333;
  --accent-foreground: #f5f5f5;

  --destructive: #7f1d1d;
  --destructive-foreground: #f5f5f5;

  --border: #333333;
  --input: #333333;
  --ring: #d4d4d4;
  --radius: 0.5rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f5f5f5;

  --card: #1a1a1a;
  --card-foreground: #f5f5f5;

  --popover: #1a1a1a;
  --popover-foreground: #f5f5f5;

  --primary: #f5f5f5;
  --primary-foreground: #171717;

  --secondary: #333333;
  --secondary-foreground: #f5f5f5;

  --muted: #333333;
  --muted-foreground: #a3a3a3;

  --accent: #333333;
  --accent-foreground: #f5f5f5;

  --destructive: #7f1d1d;
  --destructive-foreground: #f5f5f5;

  --border: #333333;
  --input: #333333;
  --ring: #d4d4d4;
}

body {
  @apply bg-background text-foreground antialiased;
  font-feature-settings: "rlig" 1, "calt" 1;
}

